
@import url(https://fonts.googleapis.com/css?family=Overlock:400,400italic,700italic,700,900italic,900);

body {
  background-color: white;
  padding: 50px;
  font: 18px/1.5 "Overlock", sans-serif;
  color: #2c3e50;
  font-weight: 400;
}

ul li {
  list-style-type: none;
}

#news ul li:before {
  content: "— ";
}

#upcoming ul li:before {
  content: "— ";
}

#preprints ul li:before {
  content: "— ";
}

#publications ol h3 {
  position: relative;
  left: -40px;
  margin-top: 2em;
  margin-bottom: 2em;
}
/*#publications li strong {
  font-weight:900;
}
#publications li em {
  font-weight:700;
}*/
#publications .bpa {
  color: #5e3448;
  font-weight:700;
}

h1, h2, h3 {
  margin:0 0 20px;
  font-weight:700;
  line-height:1.1;
}

h1 {
  font-size:28px;
}

a {
  color: #c0392b;
  text-decoration:none;
}

a:hover {
  color: #fb6648;
}

.wrapper {
  width:1024px;
  margin:0 auto;
}

header {
  width:210px;
  float:left;
  position:fixed;
  text-align: right;
  -webkit-font-smoothing:subpixel-antialiased;
  padding-bottom: 2px;
}

header img {
  width: 150px;
}

header ul {
  list-style: none;
}

header ul li {
  display: inline;
}

header ul li i {
  padding-left: 5px;
}

strong {
  color:#222;
  font-weight:700;
}

section {
  width:746px;
  padding-top:0px;
  padding-left: 25px;
  padding-right: 25px;
  float:right;
  padding-bottom:25px;
}

small {
  font-size:14px;
}

h3 small {
  font-size:15px;
}

h1 small {
  font-size:18px;
}

hr {
  border:0;
  background:#e5e5e5;
  height:1px;
  margin:0 0 20px;
}

footer {
  width:210px;
  float:left;
  position:fixed;
  text-align: right;
  bottom:0px;
  -webkit-font-smoothing:subpixel-antialiased;
}

footer {
  font-size: 12px;
}


@media print, screen and (max-width: 1000px) {

  div.wrapper {
    width:auto;
    margin:0;
  }

  header, section, footer {
    float:none;
    position:static;
    width:auto;
  }

  header, footer {
    text-align: center;
    background-color: #ecf0f1;
    margin-top: -20px;
    margin-bottom: 10px;
  }

  header {
    padding-top: 10px;
  }

  section {
    padding-top: 20px;
    margin-bottom: 0;
  }

  header ul {
    padding: 0;
  }

}

@media print, screen and (max-width: 480px) {
  body {
    padding:15px;
    padding-top: 40px;
  }
}

@media print {
  body {
    padding:0.4in;
    font-size:12pt;
    color:#444;
  }
}
